

body {
    
    font-family: "Poppins", sans-serif;
    color: rgb(37, 37, 37);
    margin-top: 50px;
    margin: auto;
    padding: auto;
    
}

html {
    scroll-behavior: smooth;
    scroll-padding: 10rem;
}

.header {
    background-color: rgba(224, 224, 224, 0.637);
    padding-top: 60px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    box-shadow: 1px 1px 1px rgb(165, 165, 165);
    
}

.logo {
    font-size: 25px;
    padding-left: 250px;
    display: inline-block;
    
}

ul {
    display: inline;
    margin-right: 250px;

}

a {
    color: #0060B6;
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
    display: inline-block;
    font-size: 20px;
    text-align: right;
    padding-right: 30px;
    cursor: pointer;
    position: relative;
}

li::before{
    content: "";
    background-color: rgb(139, 137, 137);
    position: absolute;
    left: 0;
    bottom: -0.3rem;
    height: 3px;
    width: 0;
    transition: 0.3s ease-in-out;
}

li:hover::before {
    content: "";
    background-color: rgb(139, 137, 137);
    position: absolute;
    left: 0;
    bottom: -0.3rem;
    height: 3px;
    width: 80%;
}


.chuchu {
    font-size: 27px;
}


img {
    width: 350px;
    height: 350px;
    
}

.icon {
    width: 40px;
    height: 40px;
    padding: 5px;
    margin-top: 60px;
    cursor: pointer;
}

a {
    text-decoration: none;
}

#info {
    display: flex;
    align-items: center;
    padding-left: 650px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 200px;
    background-color: #ffffff;
    
    
}

#name {
    padding-left: 100px;
    text-align: center;

}

#text {
    
    letter-spacing: 1px;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
      typing 3s infinite,
      cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% { border-color: transparent }
}

@keyframes typing {
    from { width: 0 }
}

#about{
    
    margin-top: 200px;
}

.title 
{
    font-size: 40px;
    
}

.sec {
    text-align: center;
    margin-bottom: 300px;
    
}

.squircle {
    width: 720px; 
    height: 370px; 
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    border-color:  rgb(197, 197, 197); 
    margin: 9px;
    
}

#column {
    display: flex;
    margin-left: 200px;

}

.check {
    width: 40px;
    height: 40px;
    padding-right: 10px;
    
}

.exp {
    display: flex;
    align-items: center;
    padding-right: 80px;
    padding-left: 40px;
    padding-top: 20px;
}

.test {
    display: flex;
    
}

#projects {
    margin-top: 400px;
}

#allpr {
    display: flex;
    justify-content: center;
}

.pr {
    margin: 0 15px;
    border: 1px solid  rgb(197, 197, 197);
    padding: 25px 45px;
    border-radius: 20px;
}

.primg {
    width: 400px;
    height: 400px;
    border-radius: 20px;
}

#cons1 {
    padding: 50px;
}

#cons {
    margin-left: 600px;
    margin-right: 620px;
    border: 1px solid rgb(197, 197, 197);
    padding: 15px; 
    border-radius: 20px;
    display: flex;
    align-items: center;
    
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#footer li {
    display: inline-block;
    margin-right: 15px; 
}

#footer a {
    text-decoration: none;
    color: rgb(22, 22, 22); 
}
